# Node modules
node_modules/

# Test results
*-results/
output/
lighthouse-results/
screenshots/

# Playwright report
playwright-report/

# Environment
.env

# IDE settings
.vscode/
.idea/
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Notes & combined test files
NOTES.md
all-tests.ts
