# Node modules
node_modules/

# Test results
*-results/
output/
lighthouse-results/
screenshots/

# Playwright report
# playwright-report/

# Environment
.env

# IDE settings
.vscode/

# Notes
NOTES.md
